{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block head %}
<meta id="identifier" template-name="{{ template_name }}">
{% endblock %}

{% block search %}
<div class="home__container container">
    <form action="/results/" method="GET" class="home__form display">
        {{ form.hidden_tag() }}
        <div class="alert home__alert alert-danger alert-dismissible fade show" role="alert">
        </div>
        <div class="home__platforms">
            <p class="checkbox">{{ form.amazon }} {{ form.amazon.label }}</p>
            <p class="checkbox">{{ form.ebay }} {{ form.ebay.label }}</p>
            <p class="checkbox">{{ form.allegro }} {{ form.allegro.label }}</p>
        </div>
        <h4 class="home__title">Type your searchphrase:</h4>
        <div class="home_input-wrapper phrase">
            {{ form.phrase(class_="text-field home__input")}}
            <small>*Please use English phrase, it will be automatically translated to Polish if you search at
                allegro.</small>
        </div>

        <div class="home__platform-icons">
            <p class="home__platform-icon amazon-wrapper"><i class="fab fa-amazon"></i></p>
            <p class="home__platform-icon ebay-wrapper"><i class="fab fa-ebay"></i></p>
            <p class="home__platform-icon allegro-wrapper"><img class="allegro"
                    src="{{ url_for( 'static', filename='./img/allegro-icon.png' ) }}" alt="">
            </p>
        </div>
        <input type="submit" value="Search" class="btn button home__btn">
    </form>
</div>

{% endblock %}

{% block script %}
<script src="{{ url_for( 'static', filename='/js/validate.js') }}"></script>
{% endblock %}