{% extends 'base.html' %}

{% block search %}
<div class="section-head--saved">
  <p><a href="{{ url_for('home') }}">back to homepage</a></p>
  <p><a href="{{ url_for('ajax_results') }}">browse saved results</a></p>
</div>
  {% if db_full %}
  <div class="alert alert-secondary mt-5" role="alert">
    <h5>The database is full!</h5>
    <p>This message shows if the search number in the database exceeds 20 records.</p>
    <p>In order to clear the database click the button below:</p>
    <p><a href="{{ url_for('clear') }}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Clear Database</a></p>
  </div>
  {% else %}
    <div class="alert alert-secondary mt-5" role="alert">
      <h5>Your search has been saved!</h5>
      <p>on the date of {{ submit_date }}</p>
      <p>Search title: {{ title }}</p>
      <p>Phrase: {{ phrase | safe }}</p>
      <p>Results number: {{ res_no }}</p>
    </div>
  {% endif %}
{% endblock %}