// results page
.results {
  padding: 50px;

  &__details {
    width: 100%;
    height: 100%;
  }

  &__title {
    text-align: center;

    @include mobile {
      font-size: 2rem;
      margin-bottom: 10px;
    }
  }

  &__paragraph {

    p {
      margin: 10px 0;
      padding-left: 20px;
      font-size: 2rem;

      @include mobile {
        font-size: 1.6rem;
      }
    }
  }
}